.banner-wrap {
  padding-top: 52px;
  padding-bottom: 232px;
  padding-right: 130px;
}

.banner-info {
  max-width: 430px;
  margin-left: auto;
}

.banner-title {
  font-family: 'PF Din Text Cond Pro', sans-serif;
  font-size: 50px;
  text-align: right;
  color: #000000;
  line-height: 53px;
  margin: 0;
}

.banner-text {
  font-family: Lato, sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-align: right;
  text-transform: uppercase;
  color: #2F80ED;
  margin: 9px 0;
}

.banner-button {
  display: block;
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #ffff;
  text-transform: uppercase;
  background: #2F80ED;
  border: 1px solid #2F80ED;
  border-radius: 5px;
  padding: 7px 62px;
  margin-top: 64px;
  margin-left: auto;
  transition: all 500ms;
  cursor: pointer;

  &:hover {
    color: #000;
    border-color: #000;
    background: transparent;
  }
}


@media (max-width: 980px) {
  .banner-wrap {
    padding-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .banner-wrap {
    padding-right: 15px;
  }

  .banner-info {
    max-width: 100%;
    margin-left: 0;
  }

  .banner-title, .banner-text  {
    text-align: center;
  }

  .banner-button {
    margin: auto;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .banner-title {
    font-size: 38px;
  }
}