.contacts-title-hide {
  @include visually-hidden;
}

.contacts {
  background: #2F80ED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 12px 130px 12px 130px;
  }

  &-item {
    width: 33%;
    font-family: Karla, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-align: center;

    &:nth-of-type(2) {
      border-left: 2px solid #FFFFFF;
      border-right: 2px solid #FFFFFF;
    }
  }
}

@media (max-width: 980px) {
  .contacts-list {
    padding: 12px 50px;
  }
}

@media (max-width: 650px) {
  .contacts-list {
    flex-direction: column;
  }

  .contacts-item {
    width: 100%;
    padding: 15px 0;

    &:nth-of-type(2) {
      border: none;
      border-top: 2px solid #FFFFFF;
      border-bottom: 2px solid #FFFFFF;
    }
  }
}