.header {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px 134px 8px 205px;
  }

  &-logo {
    display: flex;
    margin-right: 82px;
    text-decoration: none;
  }

  &-title {
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-decoration: none;
    color: #2F80ED;
    margin-top: 8px;
    margin-left: 2px;
  }

  &-subtitle {
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #219653;
    margin-top: -5px;
    margin-left: 2px;
  }

  &-menu {
    margin: 0;
    padding: 0;
  }

  &-button {
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #2F80ED;
    text-transform: uppercase;
    border: 1px solid #2F80ED;
    border-radius: 5px;
    background-color: transparent;
    padding: 7px 11px;
    margin-left: 25px;
    cursor: pointer;
    transition: all 500ms;

    &:hover {
      color: #000;
      border-color: #000;
    }
  }
}

@media (max-width: 1280px) {
  .header-wrap {
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .header-wrap {
    flex-direction: column;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .header-logo {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .header-button {
    margin-left: 0;
    margin-top: 20px;
  }
}