.menu {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.menu-element {
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}

.menu-link {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #2F80ED;
  text-transform: uppercase;
  line-height: 1.667;
  display: inline-block;
  text-decoration: none;
  transition-duration: 500ms;
  transition-property: color;

  &:before {
    content: '';
    width: 8px;
    height: 2px;
    background-color: #000;
    display: block;
    margin-bottom: 2px;
    opacity: 0;
    transition-duration: 500ms;
    transition-property: opacity;
  }

  &:hover {
    color: #000;
    &::before {
      opacity: 1;
    }
  }
}

@media (max-width: 768px) {
  .menu-element {
    margin-right: 20px;
  }
}