.services {
  &-text {
    font-family: Lato,sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #C4C4C4;
    padding-top: 44px;
  }

  &-title {
    font-family: Lato,sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    padding: 13px 0 36px 0;
    position: relative;
    background: url('../img/star.png') bottom center no-repeat;
  }
}

.tab-header {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 6px;

  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 50px 190px 81px 190px;
  }

  &-item {
    position: relative;
    width: 33%;
    padding: 109px 0 15px 0;
    font-family: Karla, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    background-repeat: no-repeat;
    background-position: top center;
    cursor: pointer;
    transition: all 0.5s;

    &:hover:not(.active) {
      background-color: #fafafa;
      opacity: 0.7;
    }

    &:before {
      content: '▶';
      color: #ffffff;
      text-shadow: 9px 0 2px rgba(0, 0, 0, 0.21);
      position: absolute;
      bottom: 0;
      margin: auto;
      z-index: 1;
      left: 0;
      font-size: 0;
      right: 0;
      transform: rotate(90deg);
      transition: all 0.5s;
    }

    &:nth-of-type(1) {
      background-image: url('../img/neurology.png');
    }

    &:nth-of-type(2) {
      background-image: url('../img/massage.png');
      border-left: 1px solid #2F80ED;
      border-right: 1px solid #2F80ED;
    }

    &:nth-of-type(3) {
      background-image: url('../img/rheumatology.png');
    }

    &.active {
      &:before {
        bottom: -103px;
        font-size: 55px;

        @media (max-width: 650px) {
          bottom: -52px;
        }
      }
    }
  }
}


/* Стиль для списка контейнеров с содержимым вкладок */
.tab-content {
  background: #F6F6F6;
  padding: 44px 176px;

  @media (max-width: 1199px) {
    padding-left: 80px;
    padding-right: 80px;
  }
  @media (max-width: 991px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &-item {
    display: none;
    min-height: 488px;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 991px) {
     flex-direction: column;
    }

    .services-image {
      max-width: 50%;
      max-height: 100%;
      margin-left: 20px;

      @media (max-width: 991px) {
        order: 0;
        max-width: 90%;
        margin-left: 0;
        margin-bottom: 20px;
      }
    }

    .services-information {
      max-width: 420px;

      @media (max-width: 991px) {
        order: 1;
      }

      .tab-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
      }

      .tab-text {
        font-family: HelveticaNeueCyr, sans-serif;
        font-size: 14px;
        line-height: 15px;
        margin: 33px 0;
      }

      .tab-button {
        font-family: Lato, sans-serif;
        font-weight: bold;
        font-size: 14px;
        color: #2F80ED;
        border: 1px solid #2F80ED;
        background: transparent;
        border-radius: 5px;
        padding: 13px 87px;
        transition: all 500ms;
        cursor: pointer;

        &:hover {
          color: #000;
          border-color: #000;
        }
      }
    }
  }
}


/* Стили для активного контейнера вкладки */
.tab-content-item.active {
  display: flex;
}

@media (max-width: 980px) {
  .tab-header-wrap {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 650px) {
  .tab-header-wrap {
    padding: 30px 10px;
  }
}

@media (max-width: 425px) {
  .tab-header-item {
    padding-top: 85px;
    font-size: 12px;

    &:nth-of-type(1) {
      background-size: 50%;
    }

    &:nth-of-type(2) {
      background-size: 50%;
    }

    &:nth-of-type(3) {
      background-size: 50%;
    }
  }
}